.sidebar {
    width: 150px;
    height: 100vh;
    background-color: #191718;
    position: absolute;
    /* display: none; */
}
.sidebar .menuItems .item {
    width: 100%;
    border-bottom: 1px solid #5c5c5c;
}
.sidebar .menuItems a {
    width: calc(100% - 16px);
    display: inline-block;
    padding: 20px 0 ;
    color: #ffffff;
    text-decoration: none;
    padding-left: 16px;
}
.sidebar .menuItems .item:hover a {
    background-color: #ffffff;
    color:black
}

/* Reponsive */
@media (max-width:739px){
    .sidebar {
        display: none;
    }
}