body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 1024px;
  /* max-width: 1024px; */
  margin: 0 auto ;
}
.col-3 {
  /* float: left; */
  width: 31%;
}

/* Clear floats after the columns */
.row {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap:30px */
    /* margin: 0 -5px; */
}

/* Reponsive */
@media (max-width: 1023px) {
  .container {
    width: calc(700px - 150px);
  }
}
@media (max-width:739px){
  .container {
    width: 380px;
  }
}
/* @media (max-width: 1200px) {
    .container {
      width: 990px;
    }
} */

